<h1>Questions Home Page </h1>
<div class="container">
<ul class='question-list'>
<% @questions.each do |question| %>
  <li><form method='post' action="/questions/<%=question.id%>/votes" class="upvote-form">
    <button type="submit" name="vote" value="vote" class="upvote-button"></button>
  </form>
    <%= question.votes.count %><a href="/questions/<%=question.id%>"> <%=question.title %></a><br>
    <%=question.author.user_name%>
  </li>
<% end %>
</ul>
<% if logged_in? %>
<form id='new-question-form' action="/questions/new" method="get">
  <input type="submit" value="New Form">
</form>
<% end %>
</div>
