
<!-- <h1>This is a show page for a single question</h1>
 -->
 <div class='question-info'>
  <h3><%= @question.title %></h3>
  <h6>Author:  <%= @question.author.user_name %></h6>
  <p><%= @question.text %></p>
</div>

<%= erb :"comments/_show_question_comments" %>


<div class="all-answers">
  <% if @answers %>
  <ul>
    <% @answers.each do |answer| %>
    <%= erb :'answers/show', locals: { answer: answer} %>
    <form action='/answers/<%= answer.id %>/comments/new'>
      <input type='submit' value='Add Comment'>
    </form>
    <br>
    <% end %>
  </ul>
  <% end %>
</div>

<div id="submit_answer">
  <%if @errors%>
  <%@errors.each do |error|%>
  <p><%=error%></p>
  <%end%>
  <%end%>
  <h5>
    <%= erb :'answers/new'%>
  </h5>
</div>

<% if current_user %>
  <% if @question.author_id == current_user.id %>
  <form action="/questions/<%=@question.id%>/edit" method="GET">
    <input type="submit" value="Update">
  </form>


  <form action="/questions/<%=@question.id%>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <% end %>
<% end %>
