
<h1>This is a show page for a single question</h1>
<h3><%= @question.title %></h3>
<h6>Author:  <%= @question.author.user_name %></h6>
<p><%= @question.text %></p>

  <% if @answers %>
        <%= erb :'answers/index', locals: { answers: @answers} %>
  <% end %>

<% if current_user %>
  <% if @question.author_id == current_user.id %>
    <form action="/questions/<%=@question.id%>/edit" method="GET">
      <input type="submit" value="Update">
    </form>


    <form action="/questions/<%=@question.id%>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>

<% end %>
