<li><%= answer.text %><br>
  <p>author: <%= answer.author.user_name %></p>
</li>

<form action="/questions/<%=answer.question.id%>/answers/<%=answer.id%>" method="POST">
  <input name="_method" type="hidden" value="delete"/>
  <input type="submit" value="Delete Answer"/>
</form>

<li><%= erb :"comments/_show_answer_comments", locals: {answer: answer } %> </li>


