
<div class='answer-show'>
<li><%= answer.text %><br>

  <p>author: <%= answer.author.user_name %></p>
  <% if answer.question.best_answer_id == answer.id %>
    <p>This is the best answer</p>
    <% end %>
</li>

</div>

<%if current_user.try(:id) == answer.author_id  %>
  <form action="/questions/<%=answer.question.id%>" method="POST">
    <input name="_method" type="hidden" value="PUT"/>
    <input name="answer_id" type="hidden" value=<%=answer.id%>>
    <input type="submit" value="Best Answer"/>
  </form>

  <form action="/questions/<%=answer.question.id%>" method="POST">
    <input name="_method" type="hidden" value="DELETE"/>
    <input type="submit" value="Delete Answer"/>
  </form>
<% end %>

<li><%= erb :"comments/_show_answer_comments", locals: {answer: answer } %> </li>


